@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a school project that I have been working on through out the course.
        The main goal of the course is to get familiar with Microsoft Azure. 

        This application saves and reads recipes from a CosmosDB hosted in Azure. 

        After every lesson we had to create a blogpost to answer some questions. Belove are the links to my blogposts. 
        A quick note, they are written in swedish.
    </p>
</div>

<center><h2>Blog posts</h2></center>


<div class="row">
  <div class="col-sm-6">
    <div class="card">
        <div class="card-header"><center><h4>Molnet</h4></center></div>
      <div class="card-body">
        <p class="card-text">Molnet även kallat the cloud är vad man kallar de servrar med mjukvara och databaser som man kommer åt via internet. Dessa servrar finns i olika datacenter runt om i världen. Det är inte enbart så att...</p>
        <center><a href="https://spuute.github.io/blog/2021/09/07/test-post.html" class="btn btn-success">Read</a></center>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
        <div class="card-header"><center><h4>Continous Integration</h4></center></div>
      <div class="card-body">
        <p class="card-text">En CI pipeline är någonting som automatiskt ska sköta säkerhet och tester. Säkerhet i form av att om man sätter upp den rätt så kontrolleras varje commit och går endast in om den kan kompileras...</p>
        <center><a href="https://spuute.github.io/blog/2021/09/09/uppgift-2.html" class="btn btn-success">Read</a></center>
      </div>
    </div>
  </div>
  <div class="col-sm-6 mt-3">
    <div class="card">
        <div class="card-header"><center><h4>Containers</h4></center></div>
      <div class="card-body">
        <p class="card-text">Dagens inlägg kommer att handla om containrar och orkestrering och det är en del av lektionen från Måndag 13 / 9. Vi kommer under denna kurs primärt att använda oss av docker samt github...</p>
        <center><a href="https://spuute.github.io/blog/2021/09/15/Containrar.html" class="btn btn-success">Read</a></center>
      </div>
    </div>
  </div>
  <div class="col-sm-6 mt-3">
    <div class="card">
        <div class="card-header"><center><h4>Serverless</h4></center></div>
      <div class="card-body">
        <p class="card-text">Serverless är en molnbaserad utvecklingsmodell som gör att vi utvecklare kan fokusera på att bygga och köra applikationer utan att behöva tänka på att hantera servrar...</p>
        <center><a href="https://spuute.github.io/blog/2021/09/17/Serverless.html" class="btn btn-success">Read</a></center>
      </div>
    </div>
  </div>
  <div class="col-sm-6 mt-3">
    <div class="card">
        <div class="card-header"><center><h4>Databaser i molnet</h4></center></div>
      <div class="card-body">
        <p class="card-text">Denna uppgift har jag valt att gå på guld steget direkt. Jag gjorde uppgiften tillsammans med Jonas. Jag har tidigare enbart jobbat med SQL databaser och aldrig ens kollat på något annat än det, men jag ville...</p>
        <center><a href="https://spuute.github.io/blog/2021/09/22/databaser-i-molnet.html" class="btn btn-success">Read</a></center>
      </div>
    </div>
  </div>
  <div class="col-sm-6 mt-3">
    <div class="card">
        <div class="card-header"><center><h4>Webapp i molnet</h4></center></div>
      <div class="card-body">
        <p class="card-text">Denna gången valde jag att gå på Silver steget då jag inte hade fullt så mycket tid som jag hade önskat av olika anledningar. Jag har jobbat tillsammans med Jonas även denna gång...</p>
        <center><a href="https://spuute.github.io/blog/2021/09/24/webapp-i-molnet.html" class="btn btn-success">Read</a></center>
      </div>
    </div>
  </div>
  <div class="col-sm-6 mt-3">
    <div class="card">
        <div class="card-header"><center><h4>Nätverk</h4></center></div>
      <div class="card-body">
        <p class="card-text">Jag är helt med på ditt argument till varför vi inte bör flytta vår interna applikation till molnet då det finns känslig data som ej får skickas över internet med risk för att läcka, men jag känner till en lösning...</p>
        <center><a href="https://spuute.github.io/blog/2021/09/29/cto.html" class="btn btn-success">Read</a></center>
      </div>
    </div>
  </div>
  <div class="col-sm-6 mt-3">
    <div class="card">
        <div class="card-header"><center><h4>Filer i molnet</h4></center></div>
      <div class="card-body">
        <p class="card-text">Denna lektion valde jag och Jonas att gå på Silver steget och det vi denna lektion ska skapa är två applikationer, en konsollapplikation som ska kunna spara filer till Azure Blob Storage samt en Razor Page...</p>
        <center><a href="https://spuute.github.io/blog/2021/10/01/filer-i-molnet.html" class="btn btn-success">Read</a></center>
      </div>
    </div>
  </div>
  <div class="col-sm-6 mt-3">
    <div class="card">
        <div class="card-header"><center><h4>Monitorering</h4></center></div>
      <div class="card-body">
        <p class="card-text">Denna lektion ska vi lägga till logging till en applikation, och detta genom Microsoft Azure Application Insights...</p>
        <center><a href="https://spuute.github.io/blog/2021/10/06/monitorering.html" class="btn btn-success">Read</a></center>
      </div>
    </div>
  </div>
  <div class="col-sm-6 mt-3">
    <div class="card">
        <div class="card-header"><center><h4>Skalning</h4></center></div>
      <div class="card-body">
        <p class="card-text">Denna lektion handlar om skalning av applikationer, och jag kommer här att gå igenom de frågor som vi har fått att svara på till detta inlägg...</p>
        <center><a href="https://spuute.github.io/blog/2021/10/08/Skalning.html" class="btn btn-success">Read</a></center>
      </div>
    </div>
  </div>
</div>